.container {
    text-align: center;
}

.hobbies-table {
    width: 100%;
}

.hobbies-table td {
    padding: 20px;
    vertical-align: top;
}

.hobbies-table img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.hobbies-table h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.hobbies-table p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}